* {
    box-sizing: border-box;
}

body {
    padding: 16px;
}

:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 4px 8px;
    text-align: left;
}